<section class="container">
  <h3>My Coupons</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Created At</th>
        <th>Last Updated</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @coupons.each do |coupon| %>
        <tr id="coupon-<%= coupon.id %>">
          <td><%= link_to coupon.name, dashboard_coupon_path(coupon) %></td>
          <td><%= number_to_percentage(coupon.value, precision: 0) if coupon.percent %>
          <%= number_to_currency(coupon.value) unless coupon.percent %></td>
          <td><%= coupon.created_at.strftime("%B, %d %Y at %I:%M %p %Z") %></td>
          <td><%= coupon.updated_at.strftime("%B, %d %Y at %I:%M %p %Z") %></td>
          <td><%= "Active" unless coupon.disabled %>
          <%= "Disabled" if coupon.disabled %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add A Coupon", new_dashboard_coupon_path unless @user.coupon_count >= 5 %>

</section>
