<section class="container">
  <section class="row">
    <div class="card col-12 col-md-6 offset-md-3">
      <div class="card-body">
        <h1 class="card-title"><%= @coupon.name %></h1>
        <h5 class="card-body">Value: <%= number_to_currency(@coupon.value) unless @coupon.percent %>
        <%= number_to_percentage(@coupon.value, precision: 0) if @coupon.percent %></h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Created: <%= @coupon.created_at.strftime("%B, %d %Y at %I:%M %p %Z") %></li>
          <li class="list-group-item">Last Updated: <%= @coupon.updated_at.strftime("%B, %d %Y at %I:%M %p %Z") %></li>
          <li class="list-group-item">Current Status: <%= "Active" unless @coupon.disabled %>
          <%= "Disabled" if @coupon.disabled %></li>
          <li class="list-group-item"><%= link_to 'Edit Coupon', edit_dashboard_coupon_path(@coupon) %></li>
        </ul>
        <% if @coupon.disabled %>
          <%= button_to 'Enable Coupon', dashboard_enable_coupon_path(@coupon), class: 'btn btn-success' %>
        <% else %>
          <%= button_to 'Disable Coupon', dashboard_disable_coupon_path(@coupon), class: 'btn btn-warning' %>
        <% end %>
        <% if @coupon.unused? %>
          <%= button_to 'Delete Coupon', dashboard_coupon_path(@coupon), class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </section>
</section>
